@import "utility/utility";
@import "variables/variables";
@import "mixins/mixins";

* {
  box-sizing: border-box;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

body {
  background: $primary-theme-color;

  position: relative;
  padding: 0;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: $primary-theme-color;
  text-decoration: none;
}

section.content {

  //TEMP////////////
  height: $nav-line-height;
  line-height: $nav-line-height;
  background: black;
  text-align: center;
  color: #FFF;
  //////////////////

  &.wide {
    margin: $columns-mobile-margin-up-down $columns-mobile-margin-right-left;

    @media screen and (min-width: 1241px) {
      margin: $column-wide-margin;
    }

    @include wide();
  }
  &.medium {
    margin: $columns-mobile-margin-up-down $columns-mobile-margin-right-left;

    @media screen and (min-width: 1021px) {
      margin: $column-medium-margin;
    }
    @include medium();
  }
  &.small {
    margin: $columns-mobile-margin-up-down $columns-mobile-margin-right-left;

    @media screen and (min-width: 801px) {
      margin: $column-small-margin;
    }
    @include small();
  }
}
