/////////////////
//NAVIGATION/////
/////////////////
$navigation-align-left: flex-start;
$navigation-align-center: center;
$navigation-align-right: flex-end;

$margin-top-sticky: 300px;

/////////////////
//FOOTER/////////
/////////////////
$footer-align-left: flex-start;
$footer-align-center: center;
$footer-align-right: flex-end;