@import "../variables/variables";

.align-center {
  text-align: center;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

.m-hidden {
  @media screen and (max-width: 768px) {
    display: none;
  }
}